
:root{
    --main_color_red:#ff4747;
    --main_color_blue:#3648b2;
}

@mixin btn($bg_color:var(--main_color_red)) {
  color: white;
  text-decoration: none;
  display: inline-block;
  background: $bg_color;
  padding: 8px 30px;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
}

header {
  nav {
    .nav_top {
      background-color: var(--main_color_blue);
      padding: 11px 0;
      .container {
        .row {
          .col-md-6 {
            .social_icon {
              ul {
                margin: 0 !important;
                padding: 0 !important;
                list-style-type: none;
                display: flex;
                width: 160px;
                justify-content: space-between;
                li {
                  a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                  }
                  a:hover{
                      color: var(--main_color_red);
                  }
                }
              }
            }
            .topbar_info {
              float: right;
              width: 300px;
              display: flex;
              justify-content: space-between;
              a {
                text-decoration: none;
                i {
                  margin-right: 6px;
                  color: var(--main_color_red);
                }
                span {
                  color: white;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .navbar{
        padding: 0 !important;
        .container{
            .row{
                width: 100%;
                .col-12{
                    display: flex;
                    justify-content: space-between;
                    .logo{
                        padding: 40px 0px;
                    }
                    .nav_menu{
                        display: flex;
                        .main_menu{
                            // .menu_btn{}
                            .menu_link{
                                .nav_links{
                                    padding: 0 !important;
                                    margin: 0 !important;
                                    list-style-type: none;
                                    display: flex;
                                    .nav_li{
                                        .nav_link{
                                            display: inline-block;
                                            text-decoration: none;
                                            color: black;
                                            padding: 42px 15px;
                                            font-size: 15px;
                                            font-weight: 600;
                                            position: relative;
                                            transition: .3s all linear;
                                            span{
                                                position: absolute;
                                                width: 0;
                                                height: 100%;
                                                background-color: var(--main_color_red);
                                                z-index: -1;
                                                left: 0;
                                                top: 0;
                                                transition: .3s all linear;
                                            }
                                            i{
                                                font-size: 12px;
                                                margin-left: 3px;
                                            }
                                        }
                                        

                                        .dropdown{
                                            box-shadow: 1px 1px 12px -8px black;
                                            display: none;
                                            padding: 10px 0 !important;
                                            list-style-type: none;
                                            position: absolute;
                                            width: 230px;
                                            background-color: white;
                                            li{
                                                padding: 0 20px;
                                                a{
                                                    width: 100%;
                                                    padding: 10px;
                                                    display: inline-block;
                                                    text-decoration: none;
                                                    transition: 0.2s all linear;
                                                    span{
                                                        color: black;
                                                        font-size: 14px;
                                                        font-weight: 600;
                                                        padding-left: 0px;
                                                        transition: .2s all linear;
                                                    }
                                                }
                                                a:hover{
                                                    background: var(--main_color_blue);
                                                }
                                                a:hover span{
                                                    padding-left: 6px;
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                    .nav_li:hover a{
                                      color: white;
                                    }
                                    .nav_li:hover .nav_link>span{
                                      width: 100%;
                                    }
                                }
                            }
                        }
                        .menu_content{
                            padding: 30px 0px;
                            .search_btn{
                                color: black;
                                font-size: 20px;
                                margin: 0 10px;
                            }
                            .get_start_btn{
                                @include btn()
                            }
                            .get_start_btn:hover{
                                background: black;
                            }
                        }
                    }
                }
            }
        }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      .nav_top {
        background-color: #3648b2;
        padding: 11px 0;
        .container {
          .row {
            .col-md-6 {
              display: flex;
              justify-content: center;
              .topbar_info {
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    margin-top: 8px;
                }
              }
            }
          }
        }
      }


    }
  }
}




main{
  #page_title{
    background-image: url(img/3.jpg);
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .div{
      background-color: rgba(0, 0, 0, 0.685);
      height: 100%;
      .container{
        .row{
          .col-12{
            .box{
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 380px;
              h1{
                color: white;
                font-size: 45px;
                font-weight: 700;
              }
              ul{
                padding: 0 !important;
                list-style-type: none;
                display: flex;
                li{
                  a{
                    color: white;
                    font-weight: 500;
                    text-decoration: none;
                  }
                  a:hover{
                    color: var(--main_color_red);
                  }
                  
                }
              }
            }
          }
        }
      }
    }
  }

  #shop{
    padding: 70px 0 !important;
    .container{
      .product_d{
        .basic_details{
          .image_col{
            padding-right: 30px;
            box-sizing: border-box;
            position: relative;
            img{
              max-width: 100%;
            }
          }
          .info_col{
            .details_header{
              margin-bottom: 30px;
              h4{
                font-size: 30px;
                font-weight: 600;
                margin: 0px 0px 12px;
                line-height: 1.4em;
                color: #222222;
              }
              .price{
                font-size: 24px;
                font-weight: 600;
                color: #ff4747;
                line-height: 22px;
                letter-spacing: 1px;
                margin-bottom: 10px;
              }
            }
            .details_text{
              margin-bottom: 40px;
              p{
                font-size: 15px;
                color: #808080;
              }
            }
            .item_quantity{
              margin-bottom: 30px;

              input[type="number"]{
                width: 60px;
                padding: 10px;
                margin-right: 25px;
              }
              a{
                @include btn()
              }
            }
            .category{
              margin-bottom: 30px;
              ul{
                list-style-type: none;
                display: flex;
                padding: 0 !important;
  
                li{
                  margin-right: 6px;
                  a{
                    color: #8a8d91;
                    transition: .5s ease;
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
              }
            }
            .share_box{
              ul{
                list-style-type: none;
                display: flex;
                padding: 0 !important;
                li{
                  width: 40px;
                  height: 40px; 
                  border: 1px solid #eee;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  margin-right: 12px;
                  transition: .3s all linear;
                  a{
                    color: #848484;
                    font-size: 16px;
                  }
                }

                li:hover{
                  background-color: var(--main_color_red);
                  a{
                    color: white;
                  }
                }
              }
            }
          }
        }
        .product_info_tabs{
          padding: 80px 0;
          .nav_tab{
            border-bottom: 1px solid #f2f2f2;
            padding: 20px 0;
            .nav_tab_ul{
              display: flex;
              list-style-type: none;
              li{
                margin-right: 8px;
                .nav_tab_item{
                  border: 2px solid #f2f2f2;
                  border-radius: 25px;
                  padding: 9px 25px;
                  font-size: 20px;
                  font-weight: 600;
                  color: #1a224d;
                  text-decoration: none;
                }
                .nav_active{
                  background-color: var(--main_color_red);
                  color: white;
                  border:1px solid var(--main_color_red);
                }
              }
            }
          }
          .tab_contents{}
        }
      }
      .related_products{}
    }
  }
}